.profilecenter {
    margin: auto;
}

header {
    min-width: 100%;
    min-height: 90px;
    background-color: rgb(182, 182, 182);
    border-radius: 15px 15px 0px 0px;
}

.profile {
    margin: auto;
    background-color: white;
    max-width: 400px;
    min-height: 400px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px black;
    padding-bottom: 5px;
}

.profile h1 {
    margin-bottom: 5px;
}

.profile h2 {
    margin-top: 0;
}

.profile img {
    margin-top: -50px;
    border-radius: 100px;
    border: 5px;
    border-style: solid;
    border-color: rgb(182, 182, 182);
}

.name {
    margin-bottom: 10px;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.iconmail {
    font-size: 1.6em;
    margin: 0;
}

.containeronelogin {
    max-width: 280px;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(182, 182, 182);
    margin: auto;
    margin-bottom: 20px;

}

.onelogin {
    background-color: rgb(182, 182, 182);
    border-radius: 6px 6px 0px 0px;
    color: white;
    font-weight: bold;
    margin: auto;
}

.profile button {
    background-color: transparent;
    min-height: 30px;
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px;
    border-style: solid;
    border-color: rgb(159, 160, 161);
    border-radius: 5px;
    cursor: pointer;
    padding-right: 13px;
    margin-bottom: 20px;
    color: black;
}

